"""A dummy module in for testing generated project.

Replace with your own code.
"""

def dummy():
    """Dummy code, replace with your own."""
    print("Hello from {{module_name}}!")
    return True
